.lr-c-global-learning-resources-tabs {
  background-color: var(--pf-v5-global--palette--black-100);
  
  &__title {
    color: var(--pf-v5-c-tabs__link--Color);
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}