.lr-c-global-learning-resources-quickstart__card {
  height: 100%;
  cursor: pointer;

  &--bookmark {
    color: var(--pf-v5-global--primary-color--100);
    &:hover {
      color: var(--pf-v5-global--primary-color--200);
    }
  }

  &--title {
    display: flex;
    justify-content: space-between;

    &-container {
      display: flex;
    }
  }

  &--body {
    display: flex;
    justify-content: space-between;
  }

  &--content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &--footer {
    margin-top: auto;

    &-span {
      margin-right: var(--pf-v5-global--spacer--xs);
    }

    &-icon {
      width: var(--pf-v5-global--icon--FontSize--md);
      height: var(--pf-v5-global--icon--FontSize--md);
      margin-right: var(--pf-v5-global--spacer--xs);
    }
  }
}