.lr-c-global-learning-resources-page__filters-mobile {
  display: none;
  background-color: var(--pf-v5-global--BackgroundColor--100);
}
.lr-c-global-learning-resources-page__filters-container {
  position: relative;
  width: 100%; /* Ensure the container allows children to expand fully */
}
.lr-c-global-learning-resources-page__filters-row {
  display: flex;
  align-items: center;
  gap: var(--pf-v5-global--spacer--sm);
  flex-wrap: nowrap; /* Ensure elements remain in one row */
  width: 100%; /* Allow row to take up the full width */
}
.lr-c-global-learning-resources-page__filters-row--wrapper {
  display: flex;
  align-items: center;
}
.lr-c-global-learning-resources-page__filters--input {
  flex-grow: 1;
}
.lr-c-global-learning-resources-page__filters--icon, .lr-c-global-learning-resources-page__filters--sort, .lr-c-global-learning-resources-page__filters--clear {
  flex-shrink: 0; /* Prevent shrinking of icons/buttons */
}

@media only screen and (max-width: 550px) {
  .lr-c-global-learning-resources-page__filters-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 360px) {
  .lr-c-global-learning-resources-page__filters-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
  }
  .lr-c-global-learning-resources-page__filters-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  .lr-c-global-learning-resources-page__filters--input {
    flex-grow: 1;
    width: 100%; /* Ensure input is full-width */
  }
  .lr-c-global-learning-resources-page__filters--icon, .lr-c-global-learning-resources-page__filters--sort, .lr-c-global-learning-resources-page__filters--clear {
    padding-inline-start: var(--pf-v5-global--spacer--sm);
  }
  .lr-c-global-learning-resources-page__filters--applied {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}