.lr-c-global-learning-resources-quickstart__card {
  height: 100%;
  cursor: pointer;
  --pf-v5-c-card--first-child--PaddingTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingRight: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingBottom: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingLeft: var(--pf-v5-global--spacer--md);
}
.lr-c-global-learning-resources-quickstart__card--bookmark {
  color: var(--pf-v5-global--primary-color--100);
}
.lr-c-global-learning-resources-quickstart__card--bookmark:hover {
  color: var(--pf-v5-global--primary-color--200);
}
.lr-c-global-learning-resources-quickstart__card--title {
  display: flex;
  justify-content: space-between;
}
.lr-c-global-learning-resources-quickstart__card--title-container {
  display: flex;
}
.lr-c-global-learning-resources-quickstart__card--cardbody {
  padding: var(--pf-v5-global--spacer--md);
  padding-top: 0;
}
.lr-c-global-learning-resources-quickstart__card--body {
  display: flex;
  align-items: center;
  max-width: calc(100% - 16px);
}
.lr-c-global-learning-resources-quickstart__card--description {
  font-size: var(--pf-v5-global--FontSize--sm);
}
.lr-c-global-learning-resources-quickstart__card--hostname {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.lr-c-global-learning-resources-quickstart__card--content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.lr-c-global-learning-resources-quickstart__card--footer {
  margin-top: auto;
  font-size: var(--pf-v5-global--FontSize--xs);
}
.lr-c-global-learning-resources-quickstart__card--footer-span {
  display: inline-flex;
  align-items: center;
}
.lr-c-global-learning-resources-quickstart__card--footer-icon {
  width: var(--pf-v5-global--icon--FontSize--lg);
  height: var(--pf-v5-global--icon--FontSize--lg);
}