.lr-c-global-learning-resources-page__filters {
  box-sizing: border-box;
  background-color: var(--pf-v5-global--BackgroundColor--100);
  min-width: 200px;

  &--checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

  
    &-icon {
      width: var(--pf-v5-global--icon--FontSize--lg);
      height: var(--pf-v5-global--icon--FontSize--lg);
      margin-bottom: var(--pf-v5-global--spacer--xs);
    }
  }

  &--expandable .pf-v5-c-expandable-section__toggle {
    margin-bottom: var(--pf-v5-global--spacer--xs);
    padding-bottom: var(--pf-v5-global--spacer--xs);
  }

  &--expandable .pf-v5-c-expandable-section__content {
    margin-top: 0;
    padding-top: 0;
  }

  &--categories {
    margin-top: -52px;
  }

  &--link {
    font-size: var(--pf-v5-global--FontSize--sm); // Ensures it matches TextVariants.small size
    vertical-align: middle;
    line-height: 1.25;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }

  &--disabled {
    cursor: default;
  }

  // Styles for Fallback component
  &--item {
    $heights: 65px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 
              24px, 29px, 34px, 39px, 44px, 49px, 54px;

    // Loop to generate classes using values from the heights list
    @for $i from 1 through length($heights) {
      &-#{$i} {
        height: nth($heights, $i);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .lr-c-global-learning-resources-page__filters {
    padding: 0;
    display: flex;
    flex-direction: column;

    &--wrap {
      display: flex;
      flex-direction: column;
    } 

    &--categories {
      margin-top: 0;
    }

    &--input {
      width: 100%;
    }

    &--sort {
      padding-left: var(--pf-v5-global--spacer--sm);
    }

    &--clear-filters {
      margin-top: -50px;
      margin-right: 45%;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 40%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 30%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 20%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 50%;
    }
  }
}


@media only screen and (max-width: 800px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 40%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 30%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .lr-c-global-learning-resources-page__filters {
    &--clear-filters {
      margin-right: 20%;
    }
  }
}


@media only screen and (max-width: 550px) {
  .lr-c-global-learning-resources-page__filters {
    display: none;
  }
}

