.lr-c-global-learning-resources-quickstart__card {
  height: 100%;

  // UXD wants to have 16px padding instead of PF's deault 24px
  --pf-v6-c-card--first-child--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--child--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--child--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--child--PaddingInlineStart: var(--pf-t--global--spacer--md);

  &--bookmark {
    color: var(--pf-t--color--blue--50);
    &:hover {
      color: var(--pf-t--color--blue--50);
    }
  }

  &--title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &-container {
      display: flex;
    }
  }

  &--cardbody {
    padding: var(--pf-t--global--spacer--md);
    padding-top: 0;
  }

  &--body {
    display: flex;
    align-items: center;
    max-width: calc(100% - 16px); // ensures it does not exceed the padding
  }

  &--description {
    font-size: var(--pf-t--global--font--size--sm);
  }

  &--hostname {
    display: inline-block;      
    white-space: nowrap;        
    overflow: hidden;            
    text-overflow: ellipsis; // adds "..." for overflowed text
    max-width: 100%; 
  }

  &--content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &--footer {
    margin-top: auto;
    font-size: var(--pf-t--global--font--size--xs);

    &-span {
      display: inline-flex;
      align-items: center;
    }

    &-icon {
      width: var(--pf-t--global--icon--size--font--2xl);
      height: var(--pf-t--global--icon--size--font--2xl);
    }
  }
}
