.lr-c-global-learning-resources-page__filters {
  box-sizing: border-box;
  background-color: var(--pf-v5-global--BackgroundColor--100);
  min-width: 200px;
}
.lr-c-global-learning-resources-page__filters--checkbox {
  display: flex;
  align-items: center;
}
.lr-c-global-learning-resources-page__filters--checkbox-icon {
  width: var(--pf-v5-global--icon--FontSize--lg);
  height: var(--pf-v5-global--icon--FontSize--lg);
}
.lr-c-global-learning-resources-page__filters--item-1 {
  height: 65px;
}
.lr-c-global-learning-resources-page__filters--item-2 {
  height: 25px;
}
.lr-c-global-learning-resources-page__filters--item-3 {
  height: 30px;
}
.lr-c-global-learning-resources-page__filters--item-4 {
  height: 35px;
}
.lr-c-global-learning-resources-page__filters--item-5 {
  height: 40px;
}
.lr-c-global-learning-resources-page__filters--item-6 {
  height: 45px;
}
.lr-c-global-learning-resources-page__filters--item-7 {
  height: 50px;
}
.lr-c-global-learning-resources-page__filters--item-8 {
  height: 55px;
}
.lr-c-global-learning-resources-page__filters--item-9 {
  height: 24px;
}
.lr-c-global-learning-resources-page__filters--item-10 {
  height: 29px;
}
.lr-c-global-learning-resources-page__filters--item-11 {
  height: 34px;
}
.lr-c-global-learning-resources-page__filters--item-12 {
  height: 39px;
}
.lr-c-global-learning-resources-page__filters--item-13 {
  height: 44px;
}
.lr-c-global-learning-resources-page__filters--item-14 {
  height: 49px;
}
.lr-c-global-learning-resources-page__filters--item-15 {
  height: 54px;
}

@media only screen and (max-width: 550px) {
  .lr-c-global-learning-resources-page__filters {
    display: none;
  }
}