.lr-c-global-learning-resources-quickstart__card {
  height: 100%;
  cursor: pointer;

  // UXD wants to have 16px padding instead of PF's deault 24px
  --pf-v5-c-card--first-child--PaddingTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingRight: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingBottom: var(--pf-v5-global--spacer--md);
  --pf-v5-c-card--child--PaddingLeft: var(--pf-v5-global--spacer--md);

  &--bookmark {
    color: var(--pf-v5-global--primary-color--100);
    &:hover {
      color: var(--pf-v5-global--primary-color--200);
    }
  }

  &--title {
    display: flex;
    justify-content: space-between;

    &-container {
      display: flex;
    }
  }

  &--cardbody {
    padding: var(--pf-v5-global--spacer--md);
    padding-top: 0;
  }

  &--body {
    display: flex;
    align-items: center;
    max-width: calc(100% - 16px); // ensures it does not exceed the padding
  }

  &--description {
    font-size: var(--pf-v5-global--FontSize--sm);
  }

  &--hostname {
    display: inline-block;      
    white-space: nowrap;        
    overflow: hidden;            
    text-overflow: ellipsis; // adds "..." for overflowed text
    max-width: 100%; 
  }

  &--content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &--footer {
    margin-top: auto;
    font-size: var(--pf-v5-global--FontSize--xs);

    &-span {
      display: inline-flex;
      align-items: center;
    }

    &-icon {
      width: var(--pf-v5-global--icon--FontSize--lg);
      height: var(--pf-v5-global--icon--FontSize--lg);
    }
  }
}
