.lr-c-global-learning-resources-page__filters {
  box-sizing: border-box;
  background-color: var(--pf-v5-global--palette--black-100);

  &--checkbox {
    display: flex;
    align-items: center;
  
    &-icon {
      width: 16px;
      height: 16px;
    }
  }
}