.lr-c-catalog-section {
  &__static {
    // No PF variable exists for this
    padding-left: 28px;
  }
  .pf-c-expandable-section__toggle {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
  .pf-c-expandable-section__content {
    margin-top: 0;
  }
  h3 {
    color: var(--pf-global--palette--black-900);
    span {
      vertical-align: middle;
    }
  }

  & > .pf-v5-l-split {
    margin-bottom: var(--pf-global--spacer--md);
  }
}
