.lr-string-array {
  display: grid;
  grid-template-columns: [label-start] auto [label-end value-start] 1fr [value-end remove-start] auto [remove-end];
}
.lr-string-array .lr-string-array-label {
  grid-column-start: label-start;
  grid-column-end: label-end;
}
.lr-string-array .lr-string-array-value {
  grid-column-start: value-start;
  grid-column-end: value-end;
}