// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.lr-c-catalog-section {
  .lr-c-header-icon {
    padding-right: var(--pf-global--spacer--md);
    color: var(--pf-global--primary-color--100);
  }
  .lr-c-empty_bookmarks svg {
    color: var(--pf-global--primary-color--100);
  }
}
