.rc-header {
  background-color: var(--pf-v5-global--BackgroundColor--dark-300);
  color: var(--pf-v5-global--Color--light-100);
}

.rc-header a {
  color: var(--pf-v5-global--link--Color--light);
}

.rc-header a:hover {
  color: var(--pf-v5-global--link--Color--light--hover);
}
