.rc-header {
  background-color: var(--pf-t--color--gray--70);
  color: var(--pf-t--color--white);
}

.rc-header a {
  color: var(--pf-t--color--blue--30);
}

.rc-header a:hover {
  color: var(--pf-t--color--blue--20);
}
