:root {
  --ins-color--orange: #ec7a08;
}

.lr-c-catalog-section .lr-c-bookmark__icon {
  color: var(--pf-v5-global--primary-color--100);
}
.lr-c-catalog-section .lr-c-bookmark__icon.heading {
  margin-left: 0;
}
.lr-c-catalog-section .lr-c-bookmark__icon:hover {
  color: var(--pf-v5-global--primary-color--200);
}