// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.lr-c-catalog-section {
  .lr-c-bookmark__icon {
    &.heading {
      margin-left: 0;
    }
    color: var(--pf-v5-global--primary-color--100);
    &:hover {
      color: var(--pf-v5-global--primary-color--200);
    }
  }
}
