.pf-v5-c-empty-state {
  height: 100%;
  padding: var(--pf-v5-global--spacer--md);
}
.pf-v5-c-empty-state__icon {
  margin-bottom: 0;
}
.pf-v5-c-empty-state__body {
  margin-top: var(--pf-v5-global--spacer--sm);
}

.learning-resources-widget {
  width: 100%;
}