.learningResources-learningResources {
  container-type: inline-size;
  overflow-y: auto;
}

.lrn-widg-l-flex-row {
  border-bottom: 1px solid #d2d2d2;
}

@container (width > 700px) {
  .lrn-widg-l-flex-row {
    flex-direction: row;
    padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
    width: 100%;
  }
  .lrn-widg-l-flex-row .item-1 {
    width: 50%;
  }
  .lrn-widg-l-flex-row .group {
    width: 47%;
  }
  .lrn-widg-l-flex-row .group .item-2 {
    flex-grow: 1;
  }
  .lrn-widg-l-flex-row .group .item-3 {
    flex-shrink: 1;
    min-width: 160px;
  }
}
@container (width < 700px) {
  .lrn-widg-l-flex-row {
    padding-left: var(--pf-v5-global--spacer--sm);
    flex-direction: column;
    gap: 4px;
  }
  .item-1 {
    padding-left: var(--pf-v5-global--spacer--md);
    padding-top: var(--pf-v5-global--spacer--sm);
    width: 100%;
  }
  .group {
    padding-bottom: var(--pf-v5-global--spacer--sm);
    flex-direction: row;
  }
  .group .item-2 {
    padding-left: var(--pf-v5-global--spacer--md);
    margin-right: 0;
  }
  .group .item-3 {
    padding-left: var(--pf-v5-global--spacer--md);
  }
}