.learningResources-learningResources, [class*="learningResources-learningResources-./BookmarkedLearningResourcesWidget"] {
  container-type: inline-size;
  overflow-y: auto;
}
.lrn-widg-l-flex-row {
  border-bottom: 1px solid #d2d2d2;
}

@container (width > 700px) {
  .lrn-widg-l-flex-row {
    flex-direction: row;
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
    width: 100%;
    .item-1 {
      width: 50%;
    }
    .group {
      width: 47%;
      .item-2 {
        flex-grow: 1;
      }
      .item-3 {
        flex-shrink: 1;
        min-width: 160px;
      }
    }
  }
}
@container (width < 700px) { 
  .lrn-widg-l-flex-row {
    padding-left: var(--pf-t--global--spacer--sm);
    flex-direction: column;
    gap: 4px;
  }
  .item-1 {
    padding-left: var(--pf-t--global--spacer--md);
    padding-top: var(--pf-t--global--spacer--sm);
    width: 100%;
  }
  .group {
    padding-bottom: var(--pf-t--global--spacer--sm);
    flex-direction: row;
    .item-2 {
      padding-left: var(--pf-t--global--spacer--md);
      margin-right: 0;
    }
    .item-3 {
      padding-left: var(--pf-t--global--spacer--md);
    }
  }
}

.lrn-widg-l-loader {
  width: 100%;
}